<div id="box4" style="margin-top: -0.5em;">
	<div class="wrapper">
		<h2 style="font-size: 20px; padding-top: 2em; padding-bottom: 1em;  font-family: myFirstFont;">digital</h2>


	<% @digital.each.with_index do |project, index| %>	
	<div class='icon'>
			<img style="width:10em; cursor:pointer" src=<%=project[:thumbnail]%>
			onclick="document.getElementById('modal19<%=index%>').style.display='inline'" class="w3-hover-opacity">
	 	</div><div id="modal19<%=index%>" class="w3-modal" onclick="this.style.display='none'">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
				<img id="img01" src=<%=project[:image]%>>
				<p style="font-family: myFirstFont; color: grey; background:rgba(0, 0, 0, 0.0); margin-top: 0px; font-size: 13px;"><mark class="mark"><%=project[:title]%></mark><p>
			</div>
	</div>  
	<%end%>


	</div>
</div>


