<div id="MenuIcon">
	<div id="MenuLine"></div>
</div>


<div id="MainMenu">
	<div id="logo">
		<!-- <h4><a href="/"><div class="a">m</div>argarita<div class="a">g</div>aneva</a></h4> -->
	<h4><a style ="font-size: 83%;" href="/">margaritaganeva</a></h4>
	
	</div>
	<ul>

		<li><a href="/#box2">architecture</a><div class="line"></div></li>
		<li><a href="/#box3">installations</a><div class="line"></div></li>
		<li><a href="/#box4">digital</a><div class="line"></div></li>
		<li><a href="/#box5">sketches</a><div class="line"></div></li>
		<li><a href="/#box6">video</a><div class="line"></div></li>
		<li><a href="/#box7">about</a><div class="line"></div></li>

	</ul>
	<div id="close">
		<!-- <img src="img/Close.png" height="30px" width="30px"/> -->
		<a class="button">X</a>
	</div>  
</div>



<div id="box2">
	<div class="amphiwrapper">
		<h2 style="font-size: 20px; padding-top: 2em; padding-bottom: 1em;  font-family: myFirstFont;">amphibians S scape</h2>

		<% @amphibians.each.with_index do |project, index| %>	
		<div class='icon'>
			<img style="width:10em; cursor:pointer" src=<%=project[:thumbnail]%>
			onclick="history.pushState(null, null, window.location.href + '?amphimo<%=index%>dal'); document.getElementById('amphimo<%=index%>dal').style.display='inline';" class="w3-hover-opacity">
		</div><div id="amphimo<%=index%>dal" class="w3-modal" onclick="this.style.display='none'; var url = window.location.href; if (url.includes('?')) {var newurl = url.slice(0, url.indexOf('?')); history.pushState(null, null, newurl)};">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
				<img id="img01" src=<%=project[:image]%>>
				<p style="font-family: myFirstFont; color: grey; background:rgba(0, 0, 0, 0.0); margin-top: 0px; font-size: 13px;"><mark class="mark"><%=project[:title]%></mark><p>
			</div>
		</div>
		<%end%>


		
			<p class="amphibiantext" style="color:grey; text-align:left; font-size: 13px;font-family: myFirstFont;">By definition amphibians are cold-blooded vertebrates that could function equally well on land and in water through their efficient methods to supply air both through their skin and lungs. The appearance of amphibians 360 million years ago marks colonization of new habitats in a phase of transition from water to land.<br><br>
		Amphibian modes of existence far outreach their immediate implications within the biological ecosystems. The survival and expansive mechanisms are taking place in designs of the intricate networks of the political, social, technological, economical and cultural geosphere. The transformation of the global structural mechanisms, facilitated by the advances of contemporary technologies, not only foster but also demand evolutionary adaptive mutations that obliterate the distinctions between natural and artificial processes, reality and simulacra, hyperproductivity and unprecedented destructive potentials, expansive mechanisms and suicidal implosions. In subtle metamorphosis language, symbols, values and perceptions twist their meaning, spin directions and often plot incongruent territories, where humanitarian and military operations magically coincide.<br><br>
		While many natural amphibian species become extinct due to their sensitivity to contamination and radiation, alternative styles of amphibian behaviors and operations are evolving. F-16, KC-135, B-2, AC-130, VAB are just a little part of emerging $ pieces . In the abstract realms of the “collaboratory”, a geographically dispersed virtual laboratory, a genetic project dedicated to studying C. elegans nematode through The Worm Community System (WCS) transforms into the Human Genome Initiative(HGI). The schizo genesis implied by “the gulf between context and message”, different levels of interpretation of messages and meta-messages, “double bind theory”, “transcontextual syndrome”, “double levels of design and use” signify the relocation of the systems of control, manipulation and dehumanization.<br><br>
		Amphibian S scape responds to the ongoing experiments with artistic experimentation with structures of tension, twisting, looping and encrypting, where balance is often disturbed and definitions are slippery. $pecies are affected by ” strange attractors” from comfortable remote locations, they camouflage and evolve in response to the shifting environments. Mimicry is often reflective so that some $pieces are believed to be menacing while they are mostly innocuous and vice versa. The most curious $pieces who tend to dwell in “secret lunar societies” and geospatial communities, are not featured.
		They e S s c a p e d!
		</p>
	
	</div>
</div>


