
<div id="box2">
	<div class="amphiwrapper">
		<h2 style="font-size: 20px; padding-top: 2em; padding-bottom: 1em;  font-family: myFirstFont;">amphibians S scape 2003</h2>

		
			<p class="amphibiantext" style="color:grey; text-align:left; font-size: 13px;font-family: myFirstFont;">Amphibian S scape is an immersive installation, where overlapping images from two projectors across a passage space create a dynamically changing environment based on the location of visitors relative to the two sets of trajectories of projection rays. On one side, the visitors become active participants of the artwork and the interaction of their bodies with the projected light can transform the images on the wall from total eclipse to intense double emission. On another side, the visitors become objectified as canvases for the artwork. Amphibian S scape intends to focus attention and tune in perceptions to gradual change by incremental alterations of the projected content during the course of the exhibition. The installation also attempts to catalyze awareness about amphibian modes of behavior in technologically advancing systems of manipulation and control.<br><br>

				By definition amphibians are cold-blooded vertebrates that could function equally well on land and in water through their efficient methods to supply air both through their skin and lungs. The appearance of amphibians 360 million years ago marks colonization of new habitats in a phase of transition from water to land.<br><br>
		Amphibian modes of existence far outreach their immediate implications within the biological ecosystems. The survival and expansive mechanisms are taking place in designs of the intricate networks of the political, social, technological, economical and cultural geosphere. The transformation of the global structural mechanisms, facilitated by the advances of contemporary technologies, not only foster but also demand evolutionary adaptive mutations that obliterate the distinctions between natural and artificial processes, reality and simulacra, hyperproductivity and unprecedented destructive potentials, expansive mechanisms and suicidal implosions. In subtle metamorphosis language, symbols, values and perceptions twist their meaning, spin directions and often plot incongruent territories, where humanitarian and military operations magically coincide.<br><br>
		While many natural amphibian species become extinct due to their sensitivity to contamination and radiation, alternative styles of amphibian behaviors and operations are evolving. F-16, KC-135, B-2, AC-130, VAB are just a little part of emerging $ pieces . In the abstract realms of the “collaboratory”, a geographically dispersed virtual laboratory, a genetic project dedicated to studying C. elegans nematode through The Worm Community System (WCS) transforms into the Human Genome Initiative(HGI). The schizo genesis implied by “the gulf between context and message”, different levels of interpretation of messages and meta-messages, “double bind theory”, “transcontextual syndrome”, “double levels of design and use” signify the relocation of the systems of control, manipulation and dehumanization.<br><br>
		Amphibian S scape responds to the ongoing experiments with artistic experimentation with structures of tension, twisting, looping and encrypting, where balance is often disturbed and definitions are slippery. $pecies are affected by ” strange attractors” from comfortable remote locations, they camouflage and evolve in response to the shifting environments. Mimicry is often reflective so that some $pieces are believed to be menacing while they are mostly innocuous and vice versa. The most curious $pieces who tend to dwell in “secret lunar societies” and geospatial communities, are not featured.
		They e S s c a p e d!
		</p>


<!-- 		<% @amphibians.each do |project| %>	
		<div class='icon'>
			<img style="width:10em; cursor:pointer" src="<%= project[:thumbnail] %>"
			onclick="onThumbnailClick(null, '<%= project[:item_anchor] %>');" class="w3-hover-opacity">
		</div>
		<div id="<%= project[:item_anchor] %>" class="w3-modal" onclick="onModelCancelClick(this);">
			<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
				<img class="img01" src="<%= project[:image] %>">
				<p style="font-family: myFirstFont; color: grey; background:rgba(0, 0, 0, 0.0); margin-top: 0px; font-size: 13px;"><mark class="mark"><%= project[:title] %></mark><p>
			</div>
		</div>
		<%end%> -->


		<img class="amphvid" src="/img/Install/amphibians2002/-5a.jpg" style=" cursor:pointer; padding-top:0em;"
			onclick="onThumbnailClick(null, 'amhivid');"  class="w3-hover-opacity">
			<h3 onclick="onThumbnailClick(null, 'amhivid')" class="w3-hover-opacity" class="name" style="font-family: myFirstFont; color:grey;font-size: 11px;cursor:pointer;">Amphibians 2003, video</h3><br>

			<div id="amhivid" class="w3-modal" onclick="onVideoModelCancelClick(this);">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div class="w3-modal-content w3-animate-zoom">
					<video style="width:100%" controls>
						<source src="/img/Install/amphibians2002/amph-suit-re.mp4" type="video/mp4" >
							Your browser does not support the video tag.
						</video>	
				</div>
			</div>


	
	</div>
</div>


