<div id="MenuIcon">
	<div id="MenuLine">
	</div>
</div>


<div id="MainMenu">
	<div id="logo">
		<!-- <h4><a href="/"><div class="a">m</div>argarita<div class="a">g</div>aneva</a></h4> -->
	<h4><a style ="font-size: 83%;" href="/">margaritaganeva</a></h4>
	

	</div>
	<ul>

		<li><a href="/#box2">architecture</a><div class="line"></div></li>
		<li><a href="/#box3">installations</a><div class="line"></div></li>
		<li><a href="/#box4">digital</a><div class="line"></div></li>
		<li><a href="/#box5">sketches</a><div class="line"></div></li>
		<li><a href="/#box6">video</a><div class="line"></div></li>
		<li><a href="/#box7">about</a><div class="line"></div></li>

	</ul>
	<div id="close">
		<!-- <img src="img/Close.png" height="30px" width="30px"/> -->
		<a class="button">X</a>
	</div>  
</div>

<div id="box1">
		<iframe src="three" scrolling="no">
			<p>Your browser does not support iframes!</p>
		</iframe>
</div>



<%= erb :_architecture %>

<%= erb :_installations %>

<%= erb :_digital %>

<%= erb :_sketches %>

<%= erb :_videos %>



<div id="box7">
	<div class="w3-row-padding">
		<h2 style="font-size: 15px; padding-top: 1em;font-family: myFirstFont;">about</h2>
		<p style="color: grey;">maganeva@gmail.com</p>
	</div>
</div>



