
<%= erb :_three %>

<%= erb :_architecture %>

<%= erb :_installations %>

<%= erb :_digital %>

<%= erb :_sketches %>

<%= erb :_videos %>


<div class="section" id="about">
<div id="box7">
	<div class="w3-row-padding">
		<h2 style="font-size: 15px; padding-top: 1em;font-family: myFirstFont;">about</h2>
		<p style="color: grey;">maganeva@gmail.com</p>
	</div>
</div>
</div>



