

<div id="box2">
	<div class="equiwrapper">
		<!-- 	<p style="padding-top: 2em;padding-left:3em; color: grey;font-family: myFirstFont;">EQUILIBerrATIONS 2007</p><br> -->

		<div class="videoscontainer" style="padding-top: 5em;">
			<!-- <p style="padding-top: 2em; padding-left:0em; color: grey;font-family: myFirstFont;">Metapolis 2006</p><br> -->

			<img src="/img/Install/metapolis/META2b.jpg" style="width:20em; cursor:pointer; padding-top:0em;"
			onclick="onThumbnailClick(null, 'meta1');"  class="w3-hover-opacity"><br>
			<div id="meta1" class="w3-modal" onclick="onModelCancelClick(this);">>
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div style="background:rgba(0, 0, 0, 0.0);"	class="w3-modal-content w3-animate-zoom">
					<img class="metaimage" src="/img/Install/metapolis/-META2b.jpg" >
				</div>
			</div>
			

			<img src='/img/Install/metapolis/META1b.jpg'style="width:20em; cursor:pointer; padding-top:1em;"
			onclick="onThumbnailClick(null, 'poli2');"  class="w3-hover-opacity">
			<div id="poli2" class="w3-modal" onclick="onModelCancelClick(this);">>
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div style="background:rgba(0, 0, 0, 0.0);"	class="w3-modal-content w3-animate-zoom">
					<img class="metaimage" src="/img/Install/metapolis/-META1b.jpg" >
				</div>
			</div>

		</div>
	

		<div class="text" style="padding-top:3em;"load="loadImage()">
			<p style="line-height:1.8;"><br>
				<span>METAPOLIS 2006 </span><br>
				<span>REWALKED_-_-_-_-_-RESURFACED </span><br><br>
				<span>PREMISES</span><br>
				:: Pass-through zone along service areas of active nearby restaurants, parking lots, garbage.<br>:: Shifting building functions - defunct theater and library.<br>:: Forgotten underground stream.<br>:: Richness of overlaying surfaces, colors, functions.<br><br>
				<span>GOALS</span>
				<br>:: Non-passive passing by.<br>:: Redirect attention to complexity of site layers.<br>:: Catalyze behavioral pattern shifts.<br>:: Curiosity in rewalking-resurfacing.<br>:: Reawaken memory of the place.<br>:: Adaptive deployment according to site conditions.<br>:: Continuous transition between ground and walls surfaces.<br>:: Interplay between light and shadow.<br><br>
				<span>DESIGN</span>
				<br>:: Staging interactive light and sound resurfaces memory of theater and water stream.<br>:: Randomized progression of simple folding surfaces allows adaptive deployment.<br>:: Flexibility within simple initial geometries through variable rearrangements of topologies.<br>:: Open and expansive geometries suggestive of organic growth, puzzle passing-by.<br>:: Dynamic interplay between light and shadow.<br><br>
				<span>IMPLEMENTATION</span>
				<br>:: Footsteps are converted into lights and sounds through pressure sensors.<br>:: Rubber-metal quilt hosts electronic equipment.<br>:: Flexible and open design allows improvisation based on site conditions and technical constraints.<br>:: Peels and cracks are emphasized and alive.   
			</p>


<!-- 			<% @metapolis.each do |project| %>
			
			<div class='equiicon2'>
				<img style="width:14em; height: 10em; cursor:pointer;" src="<%= project[:thumbnail]%>"
				onclick="onThumbnailClick(null, '<%= project[:item_anchor] %>');"  class="w3-hover-opacity">
			</div>
			<div id="<%= project[:item_anchor] %>" class="w3-modal" onclick="onModelCancelClick(this);">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
					<img style="width:50%;"  src="<%= project[:image] %>">
			</div>
			</div>
			<%end%> -->



		</div>
	</div>
</div>




<div id="box2" style="padding-top:1em;">
	<div class="equiwrapper1" >


			<% @metapolis.each do |project| %>
			
			<div class='equiicon2'>
				<img style="width:14em; height: 10em; cursor:pointer;" src="<%= project[:thumbnail]%>"
				onclick="onThumbnailClick(null, '<%= project[:item_anchor] %>');"  class="w3-hover-opacity">
			</div>


			<div style="text-align: center;" id="<%= project[:item_anchor] %>" class="w3-modal" onclick="onModelCancelClick(this);">
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
			<div style="background:rgba(0, 0, 0, 0.0);" class="w3-modal-content w3-animate-zoom">
					<img class="metaimage1"  src="<%= project[:image] %>">
			</div>
			</div>

			<%end%>
	</div>
</div> 





<!-- 
		<div class='equiicon'>
			<img src="/img/Install/metapolis/1.jpg" style="width:12em; height: 9em; cursor:pointer; "
			onclick="onThumbnailClick(null, 'meta10');"  class="w3-hover-opacity"><br>
		</div>	
			<div id="meta10" class="w3-modal" onclick="onModelCancelClick(this);">>
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div style="background:rgba(0, 0, 0, 0.0);"	class="w3-modal-content w3-animate-zoom">
					<img style="width:50%" src="/img/Install/metapolis/1.jpg" >
				</div>
			</div>


		<div class='equiicon'>
			<img src="/img/Install/metapolis/2.jpg" style="width:12em; height: 9em; cursor:pointer; "
			onclick="onThumbnailClick(null, 'meta20');"  class="w3-hover-opacity"><br>
		</div>	
			<div id="meta20" class="w3-modal" onclick="onModelCancelClick(this);">>
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div style="background:rgba(0, 0, 0, 0.0);"	class="w3-modal-content w3-animate-zoom">
					<img style="width:50%" src="/img/Install/metapolis/2.jpg" >
				</div>
			</div>

		<div class='equiicon'>
			<img src="/img/Install/metapolis/3.jpg" style="width:12em; height: 9em; cursor:pointer; "
			onclick="onThumbnailClick(null, 'meta30');"  class="w3-hover-opacity"><br>
		</div>	
			<div id="meta30" class="w3-modal" onclick="onModelCancelClick(this);">>
				<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
				<div style="background:rgba(0, 0, 0, 0.0);"	class="w3-modal-content w3-animate-zoom">
					<img style="width:50%" src="/img/Install/metapolis/3.jpg" >
				</div>
			</div> 


	</div>
</div>














